body {
    text-align: center;
    font-family:Helvetica;
    background-color: rgba(53, 61, 70, 0.5);
}

h1 {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    margin-top: 100px;
}

h2{
    color:white;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: normal;

}
    
input {
    color:white;
    height: 20px;
    width: 250px;
         
}

#sneakers {
    
    height: 150px;
    width: 150px;
    border-radius:100px;

}
#dress{
    height: 150px;
    width: 150px;
    border-radius:100px;
}

#boots{
    height: 150px;
    width: 150px;
    border-radius:100px;
}
}

}

#shoes {
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-family: helvetica;
}
    
#answer, #question {
    color: white;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: normal;
}

#red {
    visibility: hidden;

}
#red{
    background-color: white;
    border: none;
    font-family: helvetica;
    font-size: 15px;
    text-decoration:none;
    padding:20px 20px;
    border-radius:100px;
    
}

#blue {
    visibility: hidden;

}

#blue{
    background-color: white;
    border: none;
    font-family: helvetica;
    font-size: 15px;
    text-decoration:none;
    padding:20px 20px;
    border-radius:100px;
    
}

#brown {
    visibility: hidden;

}

#brown{
    background-color: white;
    border: none;
    padding:0px 20px;
    border-radius:100px;
    
}



button{
    background:white;
    background-color:white; 
    font-family: helvetica;
    font-size: 15px;
    text-decoration:none;
    border: none;
    padding:10px 10px;
    
}
